name: Release

on:
  push:
    branches: [main]
    paths:
      - "crates/**"
      - "Cargo.toml"
      - "Cargo.lock"

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false # Prevent GITHUB_TOKEN interference
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
      - run: npm ci

      - name: Install dependencies
        run:
          sudo apt update && sudo apt install -y  libglib2.0-dev libwebkit2gtk-4.1-dev build-essential curl wget file
          libxdo-dev libssl-dev  libayatana-appindicator3-dev librsvg2-dev

      - id: generate-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.SEMANTIC_RELEASE_APP_ID }}
          private-key: ${{ secrets.SEMANTIC_RELEASE_APP_PRIVATE_KEY }}
          owner: cyberpath-HQ
          repositories: horizon
      - run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
