name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:18-alpine
        env:
          POSTGRES_USER: horizon
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_DB: horizon_test
        options: >-
          --health-cmd "pg_isready -U horizon -d horizon_test" --health-interval 10s --health-timeout 5s --health-retries 5
        ports:
          - 5432:5432

      redis:
        image: redis:8-alpine
        options: >-
          --health-cmd "redis-cli ping" --health-interval 10s --health-timeout 5s --health-retries 5
        ports:
          - 6379:6379

    env:
      DATABASE_URL: postgres://horizon:${{ secrets.POSTGRES_PASSWORD }}@localhost:5432/horizon_test
      REDIS_URL: redis://localhost:6379
      RUST_BACKTRACE: 1

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@nightly

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2

      - name: Install dependencies
        run:
          sudo apt update && sudo apt install -y libglib2.0-dev libwebkit2gtk-4.1-dev build-essential curl wget file
          libxdo-dev libssl-dev libayatana-appindicator3-dev librsvg2-dev

      - name: Run tests
        run: ./scripts/run-test.sh
        env:
          DATABASE_URL: postgres://horizon:${{ secrets.POSTGRES_PASSWORD }}@localhost:5432/horizon_test
          REDIS_URL: redis://localhost:6379
